name: Backup Database

on:
  workflow_call:
    secrets:
      AWS_ROLE_ARN:
        required: true
      DB_URL:
        required: true
      S3_BACKUP_BUCKET:
        required: true

jobs:
  backup-db:
    runs-on: ubuntu-latest
    environment: production

    permissions:
      id-token: write   # Required for OIDC authentication
      contents: read    # Required for actions/checkout

    container:
      image: postgres:17

    steps:
      - name: Checkout repo (to access package.json)
        uses: actions/checkout@v4

      - name: Install AWS CLI & jq
        run: |
          apt-get update
          apt-get install -y awscli jq

      - name: Read version from package.json
        id: version
        run: |
          VERSION=$(jq -r .version package.json)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: github-actions-backup-db
          aws-region: sa-east-1

      - name: Dump the database
        run: |
          TIMESTAMP=$(date +%Y-%m-%d_%H-%M-%S)
          FILE_NAME="backup_v${VERSION}_${TIMESTAMP}.dump"
          pg_dump --dbname="$DB_URL" -F c -f "$FILE_NAME"
          echo "DUMP_FILE=$FILE_NAME" >> $GITHUB_ENV
        env:
          DB_URL: ${{ secrets.DB_URL }}

      - name: Upload to S3
        run: |
          aws s3 cp "$DUMP_FILE" "s3://${{ secrets.S3_BACKUP_BUCKET }}/$DUMP_FILE"
