name: pipeline CD/CI staging

on:
  push:
    branches:
      - develop

jobs:
  # Install dependencies
  call-install-workflow:
    uses: ./.github/workflows/install-deps.yml

  # Job to deploy the API
  call-deploy-api-workflow:
    uses: ./.github/workflows/deploy-staging.yml
    needs: call-install-workflow

    permissions:
      id-token: write   # Required for OIDC authentication
      contents: read    # Required for actions/checkout
    
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      DB_URL: ${{ secrets.DB_URL }}
      DB_URL_NON_POOLING: ${{ secrets.DB_URL_NON_POOLING }}
      GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
      GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
